*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  letter-spacing: 0.02em;
}


body{
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: var(--color-navy-blue);
}

:root{
  --font-family-Raleway: Raleway;
  --font-family-Roboto: Roboto;
  --color-white: #fff;
  --color-iris: #4D5AE5;
  --color-ocean: #404BBF;
  --color-navy-blue: #2E2F42;
  --color-text: #434455;
  --color-cloud: #F4F4FD;
  --color-cornflower: #E7E9FC;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);

}

.button{
  cursor: pointer;
}

a{
  font-style: normal;
  color: inherit;
}

ul{
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container{
  margin: 0 auto;
  padding: 0 16px;
}


/* header */

.header{
  background-color: var(--color-white);
  border-bottom: 1px solid #E7E9FC;
}

.nav{
  display: flex;
  align-items: center;
}

.burger-menu{
  width: 32px;
  height: 22px;
  fill: var(--color-navy-blue);
}

.burger-button{
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: inherit;
  border: none;
}

.link-logo{
  font-family: var(--font-family-Raleway);
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding: 24px 0;
  margin-right: 76px;
}

.logo-blue{
  color: var(--color-iris);
  font-family: var(--font-family-Raleway);
  letter-spacing: 0.03em;
}

.link-spc{
  font-size: 16px;
  font-weight: 500;
  display: flex;
  display: none;
}

.link-spc-item{
  color: var(--color-text);
  font-weight: 500;
  font-size: 16px;
  display: flex;
}

.link-spc-item:not(:last-child){
  margin-right: 40px;

}



.current::after{
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background-color: var(--color-ocean);
  border-radius: 2px;
  bottom: -2px;
}

.link-spc-link{
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms var(--cubic);
}


.link-spc-link:hover,
.link-spc-link:focus{
  color: var(--color-ocean);
}


.address{
  display: none;
  margin-left: auto;
}

.address-list{
  display: flex;
}

.address-list-item{
  font-size: 16px;
}

.address-list-item:not(:last-child){
  margin-right: 40px;
}

.nav-mail-tel:hover,
.nav-mail-tel:focus{
  color: var(--color-ocean);
}

.nav-mail-tel{
  transition: color 250ms var(--cubic);
}


.section-main{
  padding: 112px 0 ;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/mobile/hero@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  background-size: 428px;
  text-align: center;
}


@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-main {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/mobile/hero@2x.jpg');
  }
}

@media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 192dpi),
  (min-resolution: 3dppx) {
  .section-main {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/mobile/hero@3x.jpg');
  }
}


h1{
  color: var(--color-white);
  /* font-size: 56px;
  line-height: 1.07; */
  font-weight: 700;
  font-size: 36px;
  line-height: calc( 40 / 36 );
  text-align: center;
  margin: 0 auto;
  /* width: 496px; */
  max-width: 320px;
  margin-bottom: 72px;
}

.main-section-button{
  background-color: var(--color-iris);
  color: var(--color-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  transition: background-color 250ms var(--cubic);
}

.section-main>div{
  align-items: center;
  flex-direction: column;
}

.main-section-button:hover,
.main-section-button:focus{
  background-color: var(--color-ocean);
}

/* SKILL */




.skills{
  padding: 96px 0;
}

.skills-items{
  margin: 0 auto;
  
}

.skill-item{
  max-width: 396px;
  margin: 0 auto;
}



.skill{
  font-weight: 700;
  font-size: 36px;
  line-height: calc( 40 / 36 );
  margin-bottom: 8px;
  margin: 0 auto;
  text-align: center;
}



.bkg-icon-item{
  display: none;
}

.skills-icon{
  display: none;
}

.skill-text{
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--color-text);
}



.title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 72px;
  text-align: center;
}

.title.doing{
  display: none;
}

/* Team */

.team{
  background-color: var(--color-cloud);
  padding: 120px 0;
  text-align: center;
}

.team-cards{
  display: inline-block;
}

.card{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-white);
  width: 264px;

}

.card-info-cont{
  padding: 32px 16px;
}

.card-team-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;

}


.team-title{
  margin-bottom: 72px;
}

.list-social-icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-icon-link:hover,
.item-icon-link:focus{
  background-color: var(--color-ocean);
}

.item-icon-link{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-iris);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--cubic);
}

.item-icon-link>svg{
  width: 16px;
  height: 16px;
  fill: var(--color-cloud);
}

.team-name{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.team-prof{
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}


/* customers */

.customers{
  padding: 96px 0;
}

.customers-title{
  color: var(--color-navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: calc(40 / 36);
  text-align: center;
  margin-bottom: 72px;
}


.customers-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 16px;
}

.customers-item{
  display: block;
  cursor: pointer;
}

.customers-item:hover,
.customers-item:focus{
  border-color: var(--color-ocean);
}

.customers-item:hover>svg,
.customers-item:focus>svg{
 fill: var(--color-ocean);
}

.customers-item>svg{
  transition: fill 250ms var(--cubic);
}

.customers-border{
  border: 1px solid #8E8F99;
  border-radius: 4px;
  width: 190px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms var(--cubic);
}



.customers-item-link>svg{
  width: 110px;
  height: 56px;
  fill: #8E8F99;
}


/* footer */

.footer-text{
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-cloud);
  width: 264px;
}

.footer{
  display: flex;
  align-items: baseline;
  background-color: var(--color-navy-blue);
  padding: 96px 0;
}

.footer-logo-text{
  /* margin-right: 120px; */
}

.footer-logo{
  font-family: var(--font-family-Raleway);
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--color-cloud);
  margin-bottom: 16px;
  display: block;
  text-align: center;
}

.footer-cont-flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}




.social-list{
  display: flex;
}


.footer-social-media-text{
  color: var(--color-white);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  margin-bottom: 16px;
  text-align: center;
}

.social-item-link{
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.social-item{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms var(--cubic);
}

.social-item:hover,
.social-item:focus{
  background-color: #31D0AA;
}

.social-item:not(:last-child){
  margin-right: 16px;
}

.social-item-link>svg{
  width: 24px;
  height: 24px;
  fill: var(--color-cloud);
}


/* Modal */

.backdrop{
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 408px;
  height: 576px;
  background-color: #fcfcfc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}

.modal-button{
  position: absolute;
  cursor: pointer;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms var(--cubic);
}

.modal-button:hover,
.modal-button:focus{
  background-color: var(--color-ocean);
}

.modal-button:hover,
.modal-button:focus .icon-close{
  fill: var(--color-white);
}

.model-text{
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: calc( 24 / 16);
  color: var(--color-navy-blue);
}

.icon-close{
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms var(--cubic);

}








/* form */

.modal-form{
  display: flex;
  flex-direction: column;
}

.label{
  position: relative;
  display: flex;
  flex-direction: column;

  font-size: 12px;
  line-height: calc( 14 / 12);
  letter-spacing: 0.04em;
  color: #8E8F99;
}

textarea{
  resize: none;
  outline: none;
  border: none;
}

.input:focus{
  border: 1px solid var(--color-iris);
  
}


.input:focus+span>svg{
  fill: var(--color-iris);
}

.input{
  outline: none;
  border: none;
  padding: 8px 16px;
  padding-left: 38px;
  width: 360px;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  margin-top: 4px;
  transition: border-color 250ms var(--cubic);
  margin-bottom: 8px;
}

.input-textarea:focus{
  border: 1px solid var(--color-iris);
}

.input-textarea{
  padding: 8px 16px;
  width: 360px;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);;
  border-radius: 4px;
}




.form-svg{
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: 18px;
  height: 24px;
  fill: var(--color-navy-blue);
  transition: fill 250ms var(--cubic);
}

.form-textarea{
  margin-bottom: 16px;
}


.form-checkbox-icon{
  width: 10px;
  height: 8px;
  position: absolute;
  top: 4px;
  left: 2px;
  opacity: 0;
}

.checkbox-castom{
  display: inline-flex;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-navy-blue);
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms var(--cubic);
}

.checkbox:checked + .checkbox-castom{
  background-color: var(--color-ocean);
}

.checkbox:checked + .checkbox-castom>.form-checkbox-icon{
  opacity: 1;
}

.label-checkbox{
  flex-direction: row;
  margin-bottom: 24px;
}

.checkbox-custom-text{
  display: inline;
  font-size: 12px;
  line-height: calc( 14 / 12);
  letter-spacing: 0.04em;
  position: relative;
  bottom: 3px;
  left: -4px;
}

.label-checkbox-link{
  text-decoration: underline;
  color: var(--color-iris);
}

.form-button{
  color: var(--color-white);
  width: 169px;
  height: 56px;
  background-color: var(--color-iris);
  border-radius: 4px;
  border: none;
  text-align: center;
  letter-spacing: 0.04em;
  align-items: center;
  margin: 0 auto;
  transition: background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);

}

.form-button:hover,
.form-button:focus{
  background-color: var(--color-ocean);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* FORM */



/* FORM-foooooooter */

.cont-form-footer{
  display: flex;
  flex-direction: column;

}

.footer-form{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footel-lable{
  display: inline-flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--color-white);
  /* margin-right: 24px; */
  text-align: center;
  width: 100%;
}

.footel-lable.text{
  margin-bottom: 16px;
}


.footer-input{
  padding: 8px 16px;
  color: var(--color-white);
  outline: none;
  width: 264px;
  height: 40px;
  border: 1px solid var(--color-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--color-navy-blue);
  /* margin-top: 16px; */
  transition: border-color 250ms var(--cubic);
  width: 100%;
}

.footer-input:focus{
  border-color: #31D0AA;
}

.footer-input::placeholder{
  color: var(--color-white);
  font-weight: 400;
  font-size: 12px;
  line-height: calc(24 / 12);
  letter-spacing: 0.04em;
}

.footer-form-btn{
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 8px 24px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--color-iris);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--color-white);
  transition: background-color 250ms var(--cubic);
}

.footer-form-btn:hover,
.footer-form-btn:focus{
  background-color: var(--color-ocean);
}

.footer-form-svg{
  width: 24px;
  height: 24px;
  margin-left: 16px;
}

/* FORM-foooooooter */





/* Портфолио */


.prft-section-main{
  padding-bottom: 120px;
  padding-top: 96px;
}

.prtf-buttons>li:not(:last-child){
 margin-right: 24px;
}

.prtf-container{
  flex-direction: column;
}

.prtf-buttons{
  display: flex;
  justify-content: center;
  margin-bottom: 72px;

}


.prtf-button-item{
  background-color: var(--color-cloud);
  color: var(--color-iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #E7E9FC;
  transition: background-color 250ms var(--cubic);
}

.prtf-button-item:hover,
.prtf-button-item:focus{
  background-color: var(--color-ocean);
  color: var(--color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--color-ocean);
}



/* Main portfolio */

.project-card-mini-modal{
  position: relative;
  overflow: hidden;
}

.project-card-mini-modal-text{
  position: absolute;
  background-color: var(--color-iris);
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  transform: translateY(101%);
  transition: transform 250ms var(--cubic);
  color: var(--color-cloud);
  font-size: 16px;
  line-height: calc(24 / 16);
}

.project-card:hover .project-card-mini-modal-text,
.project-card:focus .project-card-mini-modal-text{
  transform: translateY(0%);
}

.project-card-mini-modal>img{
  margin-bottom: -5px;
}

.card-mini-modal{
  width: 100%;
  background-color: var(--color-iris);
}

.row-cards{
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.title-card{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.text-card{
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}


.project-card{
  cursor: pointer;
  display: block;
  transition: box-shadow 250ms var(--cubic);
}

.project-card:hover,
.project-card:focus{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-card>img{
 margin-bottom: -5px;
}


.project-card-text{
  padding: 32px 16px;
  border: 1px solid #E7E9FC;
}




/* MODAL TEL */
.modal-mobile{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-white);
  z-index: 10;

  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 25px;
}

.modal-mobile.is-open{
  transform: translateX(0);
}


.mod-mobile-icon{
  width: 8px;
  height: 8px;
  fill: var(--color-navy-blue);
}

.modal-mobile-button{
  border: 1px solid #E7E9FC;
  background-color: var(--color-white);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
}

.mob-modal-address{
  margin-bottom: 48px;
}

.mob-modal-nav-list{
  display: flex;
  flex-direction: column;
}

.mob-modal-nav-item:not(:last-child){
  margin-bottom: 40px;
}

.mob-modal-nav-link{
  font-size: 36px;
  line-height: calc(40 / 36);
  font-weight: 700;
  color: var(--color-navy-blue);
}

.mob-modal-nav-link:focus{
  color: var(--color-iris);
}

.mob-modal-list-tel-mail{
  display: flex;
  flex-direction: column;
}

.mob-modal-item-tel-mail:not(:last-child){
  margin-bottom: 40px;
}

.mob-modal-tel{
  color: var(--color-iris);
  font-weight: 700;
  font-size: 30px;
  line-height: calc(35 / 30);
}

.mob-modal-tel:focus{
  color: var(--color-iris);
}

.mob-modal-mail{
  font-weight: 500;
  font-size: 20;
  line-height: calc(24 / 20);
  color: #434455;
}

.mob-modal-mail:focus{
  color: var(--color-iris);
}

.mob-modal-list-social-icons{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.mob-modal-item-social{
  margin-right: 56px;
}

.mob-modal-link-social{
  border: none;
  background-color: var(--color-iris);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mob-modal-link-social:focus{
  background-color: #31D0AA;
}



.mob-modal-social-icon{
  fill: var(--color-white);
  width: 24px;
  height: 24px;
  display: block;
}


/* mobile */
@media screen and (max-width: 767px ) {
 
  .container{
    max-width: 428px;
  }

  .address-list-item:not(:last-child){
    margin-bottom: 12px;
  }

  .burger-menu{
    display: inline-block;
  }

  .flex-containre{
    position: sticky;
  }
  
  .skill-item:not(:last-child){
    margin-bottom: 72px;
  }

  .card:not(:last-child){
    margin-bottom: 72px;
  }

  .footer-margin-b{
    margin-bottom: 72px;
  }

  .footel-lable{
    margin-bottom: 16px;
  }
}


/* tablet */
@media screen and (min-width: 767.98px){

  .container{
    max-width: 768px;
  }

  /* header */

  .flex-containre{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  .burger-menu{
    display: none;
  }

  .address-list-item:not(:last-child){
    margin-bottom: 12px;
    margin-right: 0;
  }
  


  .link-spc{
    display: flex;
    align-items: center;
  }

  .address{
    display: inline;
  }

  .address-list{
    flex-direction: column;
  }



  /* hero */

  h1{
    margin-bottom: 36px;
    font-size: 56px;
    line-height: calc(60 / 56);
    min-width: 496px;
  }

  .section-main{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/tablet/hero@1x.jpg");
    background-size: 768px;
  }
  
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-main {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/tablet/hero@2x.jpg');
    }
  }
  
  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 192dpi),
    (min-resolution: 3dppx) {
    .section-main {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/tablet/hero@3x.jpg');
    }
  }





  /* skill */

  .skills-items{
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  
  .skill-item{
    width: calc((100% - 1 * 24px) / 2);
  }

/* team */


.team-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 64px;
  column-gap: 24px;
}

.customers-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 24px;
}

.customers-border{
  width: 168px;
}

.customers-item-link>svg{
  width: 104px;
}

/* footer */

.footer-margin-b{
  margin-bottom: 72px;
}

.footer-cont-flex{
  width: 570px;
  justify-content: flex-start;

}

.footer-logo{
  text-align: start;
}

.footer-logo-text{
  margin-right: 24px;
}

.footel-lable{
  text-align: start;
}

.footer-social-media-text{
  text-align: start;
}

.footer-input{
  width: 264px;
  margin-right: 24px;
}

.footer-form{
  flex-wrap: nowrap;
  align-items: baseline;
}


}


/* desktop */
@media screen and (min-width: 1199.98px){
  .container{
    max-width: 1200px;
  }
  

  /* header */

  .burger-menu{
    display: none;
  }

  .address-list{
    flex-direction: row;
  }

  .address-list-item:not(:last-child){
    margin-bottom: 0;
    margin-right: 40px;
  }
   /* hero */

  h1{
    margin-bottom: 48px;
  }

  .section-main{
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/desktop/hero@1x.jpg");
    background-size: 1440px;
  }
  
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-main {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/desktop/hero@2x.jpg');
    }
  }
  
  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 192dpi),
    (min-resolution: 3dppx) {
    .section-main {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/desktop/hero@3x.jpg');
    }
  }



  /* skill */

  .skills{
    padding: 120px 0;
  }

  .skill{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }


  .skill-item{
    width: calc((100% - 3 * 24px) / 4);
  }

  .bkg-icon-item{
    display: block;
    background-color: var(--color-cloud);
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  .skills-icon{
    display: block;
    width: 64px;
  }
  .skill-text{
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--color-text);
  }


  .skill{
    font-weight: 500;
    font-size: 20px;
    line-height: calc( 24 / 20 );
    margin-bottom: 8px;
    text-align: start;
  }

  .skill-text{
    font-weight: 400;
  }

  .title.doing{
    display: block;
  }
  
  .doings{
    padding-bottom: 120px;
  }

  
  .doings-imgs{
    display: flex;
    justify-content: space-between;
  }
  
  /* TEAM */
  

.team-cards{
  display: flex;
  justify-content: space-between;
}


/* customers */

.customers{
  padding: 120px 0;
}

.customers-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.customers-border{
  width: 168px;
}

.customers-item-link>svg{
  width: 104px;
}

/* footer */

.footer-margin-b{
  margin-bottom: 0px;
}

.footer-logo-text{
  margin-right: 120px;
  margin-bottom: 0;
}

.footer-social-media-cont{
  margin-right: 80px;
}

}